/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme{
  --color-mainColor: #00298D;
  --color-secondaryColor: #F0F2F5;
}

body{
  font-family: "SN Pro", sans-serif;
  background-color: var(--color-secondaryColor);
}
